/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of css reset*/

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.eot?') format('eot'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#webfontKPE9HKoH') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {

    line-height:1.2em;
    font-size:15px;
    color: #07669d;
    font-family: 'Prata', serif;
}

h2
{
    font-family: 'LeagueGothic';
    font-size: 65px;
    padding: 22px 0 21px 0;
    text-shadow: 0px -1px 0px #7B9BAD;

}

a:link {color:#07669d;text-decoration: none }      /* unvisited link */
a:visited {color:#07669d;}  /* visited link */
a:hover {color:#D156BF;}  /* mouse over link */
a:active {color:#D156BF;}  /* selected link */

#canvas_container {
    width: 450px;

}

#canvas_container2 {
    width: 480px;
    padding-bottom:10px;

}


#container
{
    margin:auto;
    width:960px;
    padding: 0 0 0 10px;

}

#canvas_container_div
{
    float:left;
    width:450px;
}

#curve_div
{
    float:left;
    width:520px;
}
#year_list_div
{
    float:left;
    padding: 0 0px 0 20px;
    width:30px;
    text-align: center;
}

#link {
    display:hidden;
}

.nav_links_div a
{
    line-height: 1.35;
}


#footer{
    clear: both;
    padding-top: 70px;
    padding-bottom: 10px;
    width:960px;

}

a.selected_link
{
    color:white;
    background-color: #07669d;
    text-decoration: none;
    padding: 1px 2px;
    margin: 0px -2px;

    text-align: center;
}

#pop_span
{
    font-size: 15px;
    color: #66A7CC;

    //font-family: georgia, serif;
    text-shadow:none;

}

#footer a
{

    text-decoration: underline;
}

.box_rotate {
     -moz-transform: rotate(7.5deg);  /* FF3.5+ */
       -o-transform: rotate(7.5deg);  /* Opera 10.5 */
  -webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}

.year_div
{
    padding:1px;
    width:13px;
    height:60px;
    float:left;
    font-size:12px;
    font-family: courier;
}

#right_content_div
{
    float:left;
    width:490px;
    margin-left:20px;
}

#years
{
    width:520px;
    height:40px;
    margin-top:-15px;
    float:left;
    padding-bottom:10px;
}

#countriesTabs
{
    margin-top:10px;
    height:35px;
}

h3
{
   font-size: 1.2em;
   padding-bottom:10px;
}

.alphaTab
{
    list-style: none;
    float:left;
    color:white;
    width:19px;
    height:19px;
    text-align: center;
    font-size:0.8em;
    padding-top:2px;
}

.alphaTab a
{
    color:#07669d;
}

.alphaTab.selectedTab
{

    background-color: #07669d;
    border-radius: 5px;
}
.alphaTab.selectedTab a
{
    color:white;
}

#countries
{
    clear:both;
    width:475px;
}

.countryNameDiv
{
    float:left;
    width:237px;
}