<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd" itemscope itemtype="http://schema.org/">
<head>
    <title>{{currentCountryName}} - {{currentYear}} - Population Pyramid</title>
    <!-- facebook open graphs tags-->
    <meta property="og:title" content="PopulationPyramid.net"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://populationpyramid.net/"/>
    <meta property="og:image" content="http://populationpyramid.net/media/facebook-image.png"/>
    <meta property="og:site_name" content="PopulationPyramid.net"/>
    <meta property="fb:admins" content="548900828"/>
    <meta property="og:description"
          content="Interactive Visualization of the Population Pyramids of the World from 1950 to 2100"/>

    <!-- schema.org tags, mainly for google+-->
    <meta itemprop="name" content="populationpyramid.net">
    <meta itemprop="description"
          content="Interactive Visualization of the Population Pyramids of the World from 1950 to 2050">
    <meta itemprop="image" content="http://populationpyramid.net/media/facebook-image.png">

    <meta charset="utf-8"/>
    <META name="description"
          content="Visualization of the population pyramids of the world, based on the United Nations data. {{currentCountryName}} -{{currentYear}} "/>
    <META name="keywords"
          content="{{currentCountryName}},{{currentYear}}, Population, Pyramid, Demographics, Visualization"/>


    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400italic|Prata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    <script type="text/javascript" src="/static/js/raphael.js"></script>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21050559-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        var currentCountry = "{{currentCountry }}";
        var currentYear = "{{currentYear}}";
        var currentLetter = "{{currentLetter }}";
    </script>
    <script type="text/javascript" src="/static/js/pyramid.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
<div id="title" style="color:white; background-color:#07669d;
    font-size : 15px;
    padding: 5px 0 5px 0; border-bottom:solid #D156BF 1px;">

    <div style="width:960px; margin:auto;">
        <h1 style="padding:0 0 0 0px;text-shadow: 0px -1px 0 #3796CA;width:400px;">Population Pyramids of the World from
            1950 to 2100</h1>
        <!--<div style="float:right; margin-top:-19px;"><g:plusone size="medium" annotation="inline" width="120" href="http://populationpyramid.net"></g:plusone>
        </div>-->
        <div style="float:right; margin-top:-19px;">
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpopulationpyramid.net&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=20&amp;appId=205567582820738"
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;"
                    allowTransparency="true"></iframe>
        </div>
        <p style="float:right; margin-top:-17px; margin-right:10px; color:#66A7CC; font-size:0.8em;">Soon on iPad as
            part of the <a href="http://movingworldapp.com" style="color:#66A7CC;text-decoration: underline; ">Moving
                World App</a></p>
    </div>

</div>
<div id="container">

    <div style="width:960px; padding: 10px 0 0px 0;">
        <h2>
            <span id="currentCountry">{{currentCountryName}}</span>
        </h2>

        <div style="width:450px;">
            <h2 style="float:right">
                <span id="pop_span">Population:</span>
                <span id="tot_pop"></span>
            </h2>

            <h2>
                <span id="currentYear">{{currentYear}}</span>
            </h2>


        </div>
    </div>

    <div id="content" style="clear:both;">
        <div id="right_content_div">
            <div id="clickAYearDiv">
                <h3>Click on a Year:</h3>
                <div id="selectBox">
                    <select id="yearSelect">
                        {% for year in years %}
                            <option value="{{year}}"> {{year}}
                        </option>
                        {%endfor %}
                    </select>
                </div>
            </div>
            <div id="curve_div">
                <div id="canvas_container2"></div>
            </div>
            <div id="years">
                {% for year in years %}
                <div class="year_div box_rotate">
                    <a class="year_link {% if year == currentYear %} selected_link {%endif%} "
                       href="/{{currentCountry}}/{{year}}" id="{{year}}">{{year}}</a>
                </div>
                {%endfor%}
            </div>
            <h3 id="clickOnACountry">Click on a Country:</h3>

            <div id="countriesTabs" style="clear:both;">
                <ul>
                    {%for letter in alphabet %}
                    <li class="alphaTab {% if letter == currentLetter %} selectedTab {%endif%} "><a
                            href="#tabs-{{letter}}">{{letter}}</a></li>
                    {%endfor %}
                </ul>
            </div>
            <div id="countries">
                {% for big_tuple in countries_lists %}
                <div class="countryList" id="tabs-{{big_tuple.0}}">
                    {% for country_t in big_tuple.1%}
                    <div class="countryNameDiv">
                        <a class="country_link {%if currentCountry == country_t.0 %}selected_link {%endif%}"
                           href="/{{country_t.0}}/{{currentYear}}/" id="{{country_t.0}}">{{country_t.1}}</a>
                    </div>
                    {%endfor%}
                </div>
                {%endfor%}
            </div>
        </div>
        <!-- closing right content div-->
        <div id="canvas_container_div">
            <div id="canvas_container"></div>
        </div>
        <div id="urlDiv">
            Link to this graph: <span id="urlSpan"><a href="{{currentURL}}">{{currentURL}}</a></span>
        </div>
    </div>
    <div id="footer">
        <p>
            Visualization by <a href="http://multitasked.net">Martin De Wulf</a> (<a href="http://twitter.com/madewulf">@madewulf</a>) &mdash;
            All code on <a href="https://github.com/madewulf/populationpyramid.net">github</a> &mdash;

            <a href="http://madewulf.github.com/PopulationPyramid.net/" id="blog_link">Previous version of the site,
                with data from 2008.</a>
        </p>
        <p>
            Source: United Nations, Department of Economic and Social Affairs, Population Division (2011). World Population
                Prospects: The 2010 Revision.
        </p>
    </div>

</div>
<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
</body>

</html>
