<!DOCTYPE html>
    <head>
        <title>Population Pyramids of the Whole World - from 1950 to 2050 - PopulationPyramid.net</title>
    <meta property="og:title" content="PopulationPyramid.net"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://populationpyramid.net/"/>
    <meta property="og:image" content="http://populationpyramid.net/media/facebook-image.png"/>
    <meta property="og:site_name" content="PopulationPyramid.net"/>
    <meta property="fb:admins" content="548900828"/>
    <meta property="og:description"
          content="Interactive Visualization of the Population Pyramids of the World from 1950 to 2050"/>
        <meta charset="utf-8" />
        <META name="description" content="Visualization of the population pyramids of the world, based on the United Nations data."/>
        <META name="keywords" content="Population, Pyramid, Demographics, Visualization"/>
        <link href='http://fonts.googleapis.com/css?family=Nobile:regular,bold,italic,bolditalic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/js/flot/jquery.min.js"></script>
        <script type="text/javascript" src="/js/flot/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/popsize.js"></script>

        <link rel="shortcut icon" href="favicon.ico">
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-21050559-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>


    </head>
    <body>
        <div id="graph" style="width:600px;height:300px"></div>

        <div id="alpha_list_div" style="clear:both;float:left;margin:30px;">
            <div style="margin-left:11px;">
            <ul id="alpha_list">
            </ul>
        </div>
        </div>
        <div id="country_list_div" style="margin:50px;">
            <ul id="country_list">

            </ul>
        </div>
    </body>
</html>